.container{
    width: 100%;
    /* border:4px solid salmon; */
    padding: 1em 2em;
    /* border:3px solid salmon; */

}


/*Header */
.header-container{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    

}
.header-text{
    line-height: 1;
    font-size:20px;
    font:700;
    font-weight: 500;
    margin-bottom: .25rem;
    color: hsl(202, 55%, 16%);
}
.button-clear{
    text-align: left;
    font-size: .75em;
    color: hsl(200, 26%, 54%);
}


/*form */

.form-group{
    /* border: 4px solid pink; */

}

.form-group-label{

    display: flex;
    flex-direction: column;
    font: 600;
    font-size: 14px;
    color:hsl(200, 26%, 54%);
    font-weight: 500;
    padding: .5em 0;
}

/*input container */
.input-group-container{
    border-radius: 4px;
    border: 1px solid  hsl(200, 26%, 54%);
    line-height: 2em;
    outline: none;
    vertical-align: middle;
    align-items: center;
    padding:  0px 12px;
    font-weight: bold;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group-container-amount{
    background-color: hsl(203, 41%, 72%, .25);
    padding-left: 20px;
    padding-right: 0;
    height: 100%;
    outline: none;
 
    
}

.input-group-container-terms{
    background-color: hsl(203, 41%, 72%, .25);
    padding: 0;
    height: 100%;
    font-size: 12px;
    outline: none;
    padding-left: 0px;
    padding-right: 20px;
    
}
.input-group-container-rate{
    background-color: hsl(203, 41%, 72%, .25);
    padding: 0;
    height: 100%;
    font-size: 12px;
    outline: none;
    padding-left: 00px;
    padding-right: 20px;
}


.input{
        border-radius: 4px;
        border: 1px solid  hsl(200, 26%, 54%);
        line-height: 2em;
        outline: none;
        vertical-align: middle;
        align-items: center;
        padding:  0px 12px;
        font-weight: bold;
        height: 40px;
     
}

.input-amount{
    outline: none;
    width: 85%;
    border: none;
    padding-left: 12px;
    position: relative;
    display:block;
    float: right;
    margin-top: auto;

}

.input-term{
    outline: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 80%;
    border: none;
    margin-right: 6px;
}
.input-rate{
    outline: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 85%;
    border: none;
    margin-right: 6px;
}




.form-group-radio{
    border: .25px solid hsl(200, 26%, 54%);
    accent-color:hsl(61, 70%, 52%) ;
    margin: .5rem 0 ;
    border-radius: 5px;
    font-size:.70em;
    color:hsl(202, 55%, 16%);
    font-weight: bold;
    align-items: center;
    padding: .35rem;
    vertical-align: middle;
}
img{
    
    align-items: center;

    height:20px;
    width: 20px;
}



.mortgage-type-label{
    font-size:.75em;
}
.form-group-radio>label{
    vertical-align: middle;
}

.active{
    background-color: hsl(61, 70%, 52%, .25);
    border: 1px solid  hsl(61, 70%, 52%, .25);

}
.submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75em 0em;
}

/* button */
.mortgage-submit{
    background-color:  hsl(61, 70%, 52%) ;
    border:none;
    color:hsl(202, 55%, 16%);
    border-radius: 12px;
    width: fit-content;
    padding: .5rem 1.5rem;
    margin: 1rem auto;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    max-width: fit-content;
  cursor: pointer;
 }
/*remove arrows in input fied */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

Firefox
 /* input[type=number] {
  -moz-appearance: textfield;
} */
input[type='radio'] {
    
    width:8px;
    height: 8px;
    border-radius: 80%;
    outline: none;
    border: 3px solid gray;
    margin: 6px;

}

    
    /*
input[type='radio']:before {
    content: '';
    display: block;
    width:10px;
    height: 10px;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background-color:  hsl(61, 70%, 52%) ;    
}

input[type="radio"]:checked {

    background-color:  hsl(61, 70%, 52%) ;
}
button:disabled{
    opacity: 0.3;
  } */

@media only screen and (min-width:  768px) 
{
    .container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    }
    .header-container{
        height: 50px;
    }
    .header-text{
        font-size: 26px;
    }
    
    .mortgage-form{
        display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: max-content;
    grid-column-gap: 12px;
    grid-auto-columns: minmax(10px, auto);
    margin:1em 2em;
    }
    
.form-group:nth-child(1) {
    grid-column: span 2 / span 2;
  
}

.form-group:nth-child(2) {



}

.form-group:nth-child(3)  {

    
}

.form-group:nth-child(4) {

    grid-column: span 2 / span 2;
    
}
.form-group:nth-child(5) {

    grid-column: span 2 / span 2;
   margin: auto;
    
}

}
