<section class="container">
  <header class="header-container">
    <h1 class="header-text">Mortgage Calculator</h1>
    <a class="button-clear" (click)="resetForm()" href="">Clear All</a>
  </header>

  <form class="mortgage-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class=" form-group">
      <label for="amount" class="form-group-label">
        Mortgage Amount
        
        <input
          class="form-group-input "
          id="amount"
          type="number"
          formControlName="m_amount"
          name="m_amount"
        />
      </label>
    </div>
    <div class="form-group">
      <label for="terms" class="form-group-label"
        >Mortgage Term
        <div class=" form-group-input form-group-input-m_terms">
          <input
            class="form-group-input input-term"
            id="terms"
            formControlName="m_terms"
            type="number"
            name="m_terms"
          /> years
        </div>
      </label>
    </div>
    <div class=" form-group">
      <label for="intRate" class="form-group-label"
        >Interest Rate
        <input
          class="form-group-input input-icon-percentage"
          id="intRate"
          formControlName="m_intRate"
          type="number"
          name="m_intRate"
        />
      </label>
    </div>

    <div class=" form-group ">
      <span class="mortgage-type-label">Mortage Type </span>
      <div
        [ngClass]="{ active: this.seletedMType === 'Repayment' }"
        (click)="getActiveType('Repayment')"
        class="form-group-radio"
      >
        <label for="repayment" class="">
          <input
            class=" form-group-input"
            id="repayment"
            type="radio"
            value="Repayment"
            name="m_type"
            formControlName="m_type"
          />
          Repayments</label
        >
      </div>
      <div
        [ngClass]="{ active: this.seletedMType === 'Interest Only' }"
        (click)="getActiveType('Interest Only')"
        class="form-group form-group-radio"
      >
        <label for="interestOnly" class="">
          <input
            class="form-group-input"
            id="interestOnly"
            type="radio"
            value="Interest Only"
            name="m_type"
            formControlName="m_type"
          />
          Interest Only
        </label>
      </div>
    </div>
    <div class="form-group submit-container">
      <button [disabled]="!form.valid" type="submit" class="mortgage-submit">
        Calculate {{this.form.controls.m_type.value}}
      </button>
    </div>
  </form>
</section>
