<section class="container"  >
  <header class="header-container" >
    <h1 class="header-text">Mortgage Calculator</h1>
    <a class="button-clear" (click)="resetForm()" href="">Clear All</a>
  </header>

  <form class="mortgage-form" [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class=" form-group">
      
      <label for="amount" class="form-group-label">
        Mortgage Amount
        <div  [ngClass]="{'error': form.controls.m_amount.invalid && (form.controls.m_amount.dirty || form.controls.m_amount.touched)}"
           class=" input-group-container input-group-container-amount ">
          <span>&#8364;</span>
        <input
          class=" input  input-amount "
          id="amount"
          type="number"
          formControlName="m_amount"
          name="m_amount"
          role="input"

              />
      </div>
      </label>
      @if(form.controls.m_amount.invalid && (form.controls.m_amount.dirty || form.controls.m_amount.touched)){

        <div  [ngClass]="{'errorMessage': form.controls.m_amount.invalid && (form.controls.m_amount.dirty || form.controls.m_amount.touched)}"> {{ this.getErrorMessage(this.form.controls.m_amount)}}</div>
      }
    </div>
    <div class="form-group">
      <label for="terms" class="form-group-label"
        >Mortgage Term
        <div    [ngClass]="{'error': form.controls.m_terms.invalid && (form.controls.m_terms.dirty || form.controls.m_terms.touched)}"
        class="input-group-container  input-group-container-terms">
          <input
            class="input input-term"
            id="terms"
            formControlName="m_terms"
            type="number"
            name="m_terms"
            role="input"
          /> years
        </div>
      </label>
      @if(form.controls.m_terms.invalid && (form.controls.m_terms.dirty || form.controls.m_terms.touched)){

        <div  [ngClass]="{'errorMessage': form.controls.m_terms.invalid && (form.controls.m_terms.dirty || form.controls.m_terms.touched)}">{{ this.getErrorMessage(this.form.controls.m_terms)}}</div>
      }
    </div>
    <div class=" form-group">
      <label for="intRate" class="form-group-label">Interest Rate
        <div   [ngClass]="{'error': form.controls.m_intRate.invalid && (form.controls.m_intRate.dirty || form.controls.m_intRate.touched)}"
          class="input-group-container  input-group-container-rate">
        <input
          class="input input-rate"
          id="intRate"
          formControlName="m_intRate"
          type="number"
          name="m_intRate"
          role="input"

        />
        <span>%</span>
        </div>
      </label>
      @if(form.controls.m_intRate.invalid && (form.controls.m_intRate.dirty || form.controls.m_intRate.touched)){

        <div  [ngClass]="{'errorMessage': form.controls.m_intRate.invalid && (form.controls.m_intRate.dirty || form.controls.m_intRate.touched)}"> {{ this.getErrorMessage(this.form.controls.m_intRate)}}</div>
      }
    </div>

    <div class=" form-group ">
      <span class="mortgage-type-label">Mortage Type </span>
      <label for="repayment" class="">
      <div
        [ngClass]="{ active: this.seletedMType === 'Repayment' }"
        (click)="getActiveType('Repayment')"
        class="form-group-radio"
      
      >

          <input
            class=" input"
            id="repayment"
            type="radio"
            value="Repayment"
            name="m_type"
            formControlName="m_type"
            role="input"
          />
          Repayments
        </div>
      </label>
      <label for="interestOnly" class="">
      <div
        [ngClass]="{ active: this.seletedMType === 'Interest Only' }"
        (click)="getActiveType('Interest Only')"
        class="form-group form-group-radio">
      
          <input
            class="input"
            id="interestOnly"
            type="radio"
            value="Interest Only"
            name="m_type"
            formControlName="m_type"
            role="input"
          />
          Interest Only
      
      </div>
      @if(form.controls.m_type.invalid && (form.controls.m_type.dirty || form.controls.m_type.touched)){

        <div  [ngClass]="{'errorMessage': form.controls.m_type.invalid && (form.controls.m_type.dirty || form.controls.m_type.touched)}"> {{ this.getErrorMessage(this.form.controls.m_type)}}</div>
      }
    </label>
    </div>
    <div class="form-group submit-container">
      <button [disabled]="disableSubmit() " type="submit" class="mortgage-submit"  role="button">
        <img src="../../../assets/images/iconCalculator.svg" alt="">Calculate Repayment
      </button>
    </div>
  </form>
</section>
