.mortgage-form-section{
    height:100vh;
    display: flex;
    flex-direction: column;
    border:5px solid pink;
    overflow: none;
    padding: 1rem;

}

.mortgage-header{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;


}
.mortgage-header-text{
    line-height: 1;
    font-size: 6vw;
    margin-bottom: .25rem;
    color:hsl(202, 55%, 16%);
}
.button-clear{
    text-align: left;
    font-size: 3vw;
    color:  hsl(200, 26%, 54%);
}

.mortgage-form{
  
    display: flex;
    flex-direction: column;
}
.form-group{
    margin: .25rem 0;
}

.form-group>label{
    display: flex;
    flex-direction: column;
}
.form-group-label, .mortgage-type-label{
    color:  hsl(200, 26%, 54%);
    font-size: 3vw;
}
.form-group-radio{
    border: .25px solid hsl(200, 26%, 54%);
    margin: .25rem 0;
    border-radius: 5px;
    padding: .25rem;
}
.form-group-radio {
    color:hsl(202, 55%, 16%);
}


.form-group-input{
    border: .25px solid hsl(200, 26%, 54%);
    border-radius: 5px;
    font-size:2.5vw;
   
    color:hsl(202, 55%, 16%);
    font-weight: bold;
    margin: .5rem 0 ;
 
}

.form-group-input:focus{
    outline: 1px solid hsl(200, 26%, 54%);
}
 #terms{
   width: 80%;
   border:none;
   outline: none;
   margin: 0;
}

.form-group-terms-div{
    border: .25px solid hsl(200, 26%, 54%);
   
    border-radius: 4px;
}
input[type="radio"]{
    padding:1em;
    height: 1em;
    vertical-align: center;
    accent-color:  hsl(61, 70%, 52%);
    color: hsl(61, 70%, 52%);
    border:none;
}
.input-icon-currency{
    background: url("../../../../images/iconCalculator.svg") no-repeat scroll 7px 7px;
    padding-left: 30px;
    padding-bottom: 15px;

}
.input-icon-percentage{
    background: url("../../../../images/percent.png") no-repeat scroll 7px 7px ;
    background-size: 16px 16px;
    background-position-x: 92% ;
    padding-bottom: 15px;
}
.form-group-input[type="radio"]:focus{
    outline: none;
}
.active{
    background-color: hsl(61, 70%, 52%, .25);
    border: 1px solid  hsl(61, 70%, 52%, .25);
    border-radius: 0;
}
.mortgage-submit{
   background-color:  hsl(61, 70%, 52%) ;
   border:none;
   color:hsl(202, 55%, 16%);
   border-radius: 12px;
   width: fit-content;
   padding: .5rem 1.5rem;
   margin: 1rem auto;
   font-size: 3vw;
   font-weight: bold;
 
}


/*remove arrows in input fied */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}