.container{

    overflow: none;

    padding:1em 2em; 
    background-color: hsl(202, 55%, 16%);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    /* border:3px solid salmon; */
}

.results-header{
    
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    
}
.results-header-text{
    line-height: 1;
    font-size:4vw;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin-bottom: .25rem;
    color:white
}
.results-info{
    /* border:5px solid blue;  */
    max-width: 700px;
    color:hsl(200, 26%, 54%);
    font-weight: 500;
    font-size: 3.5vw;
}

.results-container{
    background-color:#152430 ;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius: 8px;
    border-top: 6px solid  hsl(61, 70%, 52%);
    padding: .5em 1em;
    margin: .75em 0;
}

.results-title{
    color:hsl(202, 86%, 94%, 0.75);
  
}

.results-monthly{
    color: hsl(61, 70%, 52%); 

}
.results-totalAmount{
    color: white;
}
.results-container-totalAmount{
    border-top: 1px solid hsl(202, 86%, 94%, 0.75);

    /* border:5px solid blue;  */
}
.results-payment{
    /* border: 5px solid blue; */
}

@media only screen and (min-width: 768px) 
{
    .container{

        overflow: none;
        height: 100%;
        max-width: 500px;
        background-color: hsl(202, 55%, 16%);
        border-top-right-radius:20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 60px;
    }
    
    .results-header-text{
        font-size: 26px;
    }
    .results-info{
        /* border:5px solid blue;  */
        max-width: 700px;
        color:hsl(200, 26%, 54%);
        font-weight: 500;
        font-size: 18px;
    }
}